#root {
  margin: 0 auto;
}

.header {
  display: flex;
  height: 15vh;
  margin: 0 10rem;
  align-items: center;
  justify-content: space-between;
}

.header .text {
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.header .save {
  align-items: center;
  width: 70px;
  height: 30px;
}

.editor-container {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  height: 75vh;
  border: 1px solid gray;
  padding: 1rem;
  font-size: 25px;
}

button {
  cursor: pointer;
}
